@@media query {

}


body{
  background-color: #7786a0;
}

.container{
  max-width: 620px;
  min-width: 300px;

}



@-webkit-keyframes pulse_animation {
	0% { -webkit-transform: scale(1); }
	30% { -webkit-transform: scale(1); }
	40% { -webkit-transform: scale(1.2); }
	50% { -webkit-transform: scale(1); }
	60% { -webkit-transform: scale(1); }
	70% { -webkit-transform: scale(1.1  ); }
	80% { -webkit-transform: scale(1); }
	100% { -webkit-transform: scale(1); }
}

.pulse {
	-webkit-animation-name: 'pulse_animation';
	-webkit-animation-duration: 3000ms;
	-webkit-transform-origin:50% 70%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;

}

#source{
  font-style: italic;
  font-size: 9px;
  color: gray;
  background-color: white;
}


#city{
  width: 100%;
  position: relative;
  background-color: white;
}


#definition{
  margin-top: 10px;
}

#placeimg{
  width: 100%;
}


#div1, #div2, #div3, #div4, #div5, #div6, #div7, #div8{
  margin-top: 20px;
  margin-bottom: 20px;
}


#setting{
  position: absolute;
  top: 18%;
  left: 71%;
}

#victim{
  position: absolute;
  top: 60%;
  left: 78%;
}

#pimp{
  position: absolute;
  top: 58%;
  left: 72%;
}

#family{
  position: absolute;
  top: 51%;
  left: 60%;
}

#madam{
  position: absolute;
  top: 59%;
  left: 46%;
}

#bank{
  position: absolute;
  top: 33%;
  left: 33%;
}

#customer{
  position: absolute;
  top: 56%;
  left: 22%;
}

#truck{
  position: absolute;
  top: 55%;
  left: 13%;

}
